{% extends "layout.html" %}

{% block heading %}
    First Page
{% endblock %}

{% block body %}
<!-- '''
form has an action that says when you submit this form who should be notified
or where should you submit the form to. post method is used when submitting data
to a server. Get request method is used when seeking data from server like
going to a Website
''' -->
        <form action="{{ url_for('hello')}}" method ="post">
          <input type="text" name ="name" placeholder ="Enter Your Name">
          <p>
          <input type = "number" value = "value" placeholder= "0.00" </p>

          <p>
          <input type = "number" zipcode = "zipcode" placeholder = "input zip code"
          </p>

          <p>
          <button>Submit</button>
          </p>

        </form>
{% endblock %}
