{% extends "layout.html" %}

{% block heading %}
      <! -- Dropdown Structure -->

      <title>W3.CSS</title>
      <link rel="stylesheet" type = "text/css" href = "style.css">
      <link rel = "stylesheet">
      href = ""
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
      <body>
      <div class="w3-container">
        href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
  {% endblock %}

  {%block body%}
   <div class = "dropdown">
      <nav>
        <div class = "nav-wrapper">
          <a href= "#!" class = "brand-logo">Neocova</a>
          <ul class = "right hide-on-med-and-down">
            <div class="w3-bar w3-light blue">
                <a href="#" class="w3-bar-item w3-button">Home</a>
                <a href="#" class="w3-bar-item w3-button">Attribute 1</a>
                <a href="#" class="w3-bar-item w3-button">Attribute 2</a>
                <a href="#" class="w3-bar-item w3-button">Attribute 3</a>
            </div>


{%block body%}

{& endblock &}
