<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Neocova Dynatrix</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>


<body style="background: #272D33;">

<!--  <div class="image">
  <image scr="{{ url_for('static',filename='logo.jpg') }}", width="300" height="142">
 </div> -->

 <div class="login">
	<h2>Bank Evaluation Forecasting</h2>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="Asset" placeholder="Asset" required="required" />
      <input type="text" name="Current Ratio" placeholder="Current Ratio" required="required" />
		  <input type="text" name="Debt Ratio" placeholder="Debt Ratio" required="required" />
<!--       <input type="text" name="ROA" placeholder="ROA" required="required" />
      <input type="text" name="Total Asset Turnover" placeholder="Total Asset Turnover" required="required" />
      <input type="text" name="Net Interest to Total Renenue" placeholder="Net Interest to Total Renenue" required="required" />
 -->
        <button type="submit" class="btn btn-primary btn-lg btn-block">Predict bank evaluation</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>
