<!-- This templete is for page with drop down bar -->
{% extends "base.html" %}
{% block title %}Home page{% endblock %}
{% block base_content %}

<link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <div class="content-section">
        <form action="{{ url_for('predict')}}"method="post">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-2">Bank Valuation Forecasting</legend>
                <h5 class="border-bottom mb-4">*Quick Guide: The input should be the percentage increase or decrease of the variable. The output would be the percentage increase or decrease of bank valuation.</h5>
                <br>
                <div class="form-row">
                    <div class="col">
                        <div class="form-row">
                            <div class="form-group col-md-2">
                                <label for="exampleFormControlSelect2">+ / -</label>
                                {{ form.s_roeinjr(class="form-control form-control-lg") }}                   
                            </div>
                            <div class="form-group col-md-7">
                                {{ form.roeinjr.label(class="form-control-label") }}

                                {% if form.roeinjr.errors %}
                                    {{ form.roeinjr(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.roeinjr.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.roeinjr(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>


                            <div class="form-group col-md-3">
                                <div class="info">
                                  <i class="icon-info-sign"></i>

                                  <span class="extra-info">
                                    Net income (year-to-date, annualized), less cash dividends declared (year-to-date, annualized), as a percent of average total equity capital
                                  </span>
                                </div>
                            </div>

                       

                        </div>
                    </div>
                    <div class="col">
                        <div class="form-row">
                            <div class="form-group col-md-2">
                                <label for="exampleFormControlSelect2">+ / -</label>
                                {{ form.s_noijy(class="form-control form-control-lg") }}                   
                            </div>
                            <div class="form-group col-md-7">
                                {{ form.noijy.label(class="form-control-label") }}

                                {% if form.noijy.errors %}
                                    {{ form.noijy(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.noijy.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.noijy(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>

                            <div class="form-group col-md-3">
                                <div class="info">
                                  <i class="icon-info-sign"></i>

                                  <span class="extra-info">
                                    Net operating income (annualized) as a percent of average total assets
                                  </span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col">
                        <div class="form-row">
                            <div class="form-group col-md-2">
                                <label for="exampleFormControlSelect2">+ / -</label>
                                {{ form.s_asset(class="form-control form-control-lg") }}                   
                            </div>
                            <div class="form-group col-md-7">
                                {{ form.asset.label(class="form-control-label") }}

                                {% if form.asset.errors %}
                                    {{ form.asset(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.roeinjr.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.asset(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                            <div class="form-group col-md-3">
                                <div class="info">
                                  <i class="icon-info-sign"></i>

                                  <span class="extra-info">
                                    The sum of all assets owned by the institution including cash, loans, securities, bank premises and other assets. This total does not include off-balance-sheet accounts.
                                  </span>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col">
                        <div class="form-row">
                            <div class="form-group col-md-2">
                                <label for="exampleFormControlSelect2">+ / -</label>
                                {{ form.s_RBCT1J(class="form-control form-control-lg") }}                   
                            </div>
                            <div class="form-group col-md-7">
                                {{ form.RBCT1J.label(class="form-control-label") }}

                                {% if form.RBCT1J.errors %}
                                    {{ form.RBCT1J(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.RBCT1J.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.RBCT1J(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                             <div class="form-group col-md-3">
                                <div class="info">
                                  <i class="icon-info-sign"></i>

                                  <span class="extra-info">
                                    Tier 1 capital includes: common equity +noncumulative perpetual preferred stock + minority interests in consolidated subsidiaries less goodwill + other ineligible intangible assets. The amount of eligible intangibles (including mortgage servicing rights) in core capital is limited in accordance with supervisory capital regulations. 
                                  </span>
                                </div>
                            </div>                           
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col">
                        <div class="form-row">
                            <div class="form-group col-md-2">
                                <label for="exampleFormControlSelect2">+ / -</label>
                                {{ form.s_core_deposit(class="form-control form-control-lg") }}                   
                            </div>
                            <div class="form-group col-md-7">
                                {{ form.core_deposit.label(class="form-control-label") }}

                                {% if form.core_deposit.errors %}
                                    {{ form.core_deposit(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.core_deposit.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.core_deposit(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                                <div class="form-group col-md-3">
                                <div class="info">
                                  <i class="icon-info-sign"></i>

                                  <span class="extra-info">
                                    AThis is the percentage change between this quarter's core deposit ratio (lnlsnet / idlncorr) and last quarter's
                                  </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-row">
                            <div class="form-group col-md-2">
                                <label for="exampleFormControlSelect2">+ / -</label>
                                {{ form.s_lnlsntv(class="form-control form-control-lg") }}                   
                            </div>
                            <div class="form-group col-md-7">
                                {{ form.lnlsntv.label(class="form-control-label") }}

                                {% if form.lnlsntv.errors %}
                                    {{ form.lnlsntv(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.lnlsntv.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.lnlsntv(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                             <div class="form-group col-md-3">
                                <div class="info">
                                  <i class="icon-info-sign"></i>

                                  <span class="extra-info">
                                    Net loans and leases to total assets
                                  </span>
                                </div>
                            </div>                           
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col">
                        <div class="form-row">
                            <div class="form-group col-md-2">
                                <label for="exampleFormControlSelect2">+ / -</label>
                                {{ form.s_County_GDP_Percent(class="form-control form-control-lg") }}                   
                            </div>
                            <div class="form-group col-md-7">
                                {{ form.County_GDP_Percent.label(class="form-control-label") }}

                                {% if form.County_GDP_Percent.errors %}
                                    {{ form.County_GDP_Percent(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.County_GDP_Percent.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.County_GDP_Percent(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                             <div class="form-group col-md-3">
                                <div class="info">
                                  <i class="icon-info-sign"></i>

                                  <span class="extra-info">
                                    This can be found in the table view of the most recent release on the Bureau of Economic Analysis' site. 
                                  </span>
                                </div>
                            </div>                           
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-row">
                            <div class="form-group col-md-2">
                                <label for="exampleFormControlSelect2">+ / -</label>
                                {{ form.s_PC_Labor_Force(class="form-control form-control-lg") }}                   
                            </div>
                            <div class="form-group col-md-7">
                                {{ form.PC_Labor_Force.label(class="form-control-label") }}

                                {% if form.PC_Labor_Force.errors %}
                                    {{ form.PC_Labor_Force(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.PC_Labor_Force.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.PC_Labor_Force(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                            <div class="form-group col-md-3">
                                <div class="info">
                                  <i class="icon-info-sign"></i>

                                  <span class="extra-info">
                                    This can be found in the Over-the-Year Change in Unemployment Rates for Metropolitan Areas file found on the Bureau of Labor Statistic's website.
                                  </span>
                                </div>
                            </div>                            
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col">
                        <div class="form-row">
                            <div class="form-group col-md-2">
                                <label for="exampleFormControlSelect2">+ / -</label>
                                {{ form.s_PC_Unemployed(class="form-control form-control-lg") }}                   
                            </div>
                            <div class="form-group col-md-7">
                                {{ form.PC_Unemployed.label(class="form-control-label") }}

                                {% if form.PC_Unemployed.errors %}
                                    {{ form.PC_Unemployed(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.PC_Unemployed.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.PC_Unemployed(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                            <div class="form-group col-md-3">
                                <div class="info">
                                  <i class="icon-info-sign"></i>

                                  <span class="extra-info">
                                    This is the growth rate of median household incomes and benefits, in 2018 inflation-adjusted dollars.
                                  </span>
                                </div>
                            </div>                            
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-row">
                            <div class="form-group col-md-2">
                                <label for="exampleFormControlSelect2">+ / -</label>
                                {{ form.s_GR_Total_Population(class="form-control form-control-lg") }}                   
                            </div>
                            <div class="form-group col-md-7">
                                {{ form.GR_Total_Population.label(class="form-control-label") }}

                                {% if form.GR_Total_Population.errors %}
                                    {{ form.GR_Total_Population(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.GR_Total_Population.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.GR_Total_Population(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                            <div class="form-group col-md-3">
                                <div class="info">
                                  <i class="icon-info-sign"></i>

                                  <span class="extra-info">
                                    The growth rate of your the total population in the US over 20 years. 
                                  </span>
                                </div>
                            </div>                            
                        </div>
                    </div>
                </div>



             </fieldset>
            <div class="form-group">
                {{ form.Predict(class="btn btn-outline-info") }}
            </div>
            {{ prediction_text }}


            <br>
            <br>
        </form>
    </div>


    <body>

    {% for id in ids %}
        <h3>{{id}}</h3>
        <div id="{{id}}"></div>
    {% endfor %}

</body>


<footer>
    <!-- D3.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <!-- Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <script type="text/javascript">

        var graphs = {{graphJSON | safe}};
        var ids = {{ids | safe}};

        for(var i in graphs) {
            Plotly.plot(ids[i], // the ID of the div, created above
                        graphs[i].data,
                        graphs[i].layout || {});
        }

    </script>
</footer>

  

{% endblock%}